.header{
    height: 300px;
    text-align: center;
    font-size: larger;
    background-image: url(callcenter.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
h3{
    background-color: aquamarine;
    box-shadow: 10px 20px 40px blueviolet;
}